body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
/* Скидання */
ul {
  list-style-type: none;
}
/* h1,
h2,
h3,
p {
  margin: 0;
} */

/* Загальні */
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.list-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

/* Хедер */
.header {
  height: 72px;
  display: flex;
}
/* Навігація та лого */
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo span {
  color: #2e2f42;
}
.list-item-link {
  color: #2e2f42;
  /* font-size: 16px; */
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.list-item-link:hover,
.list-item-link:active {
  transition: all 0.4s;
  color: #404bbf;
  border-bottom: 4px solid #404bbf;
}
.contacts-item-link {
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.contacts-item-link:hover,
.contacts-item-link:active {
  color: #404bbf;
}

/* Hero-секція */

#hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}

.hero-btn {
  color: #fff;
  /* font-size: 16px; */
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
}
.hero-btn:hover {
  background-color: #404bbf;
  transition: all 0.3s;
}

/* Benefits-секція */
.section-list-item {
  width: 264px;
}

/* Team-секція */
.our-team {
  background-color: #f4f4fd;
}
.team-list-item {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  text-align: center;
}
/* Portfolio-секція */
.portfolio-list-item {
  width: 360px;
  border: 1px solid #e7e9fc;
  background: #fff;
}

/* Футер */
.footer {
  background-color: #2e2f42;
}
.footer-logo span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;

  line-height: 150%;
  letter-spacing: 0.32px;
  width: 264px;
}
